<div class="management">

  <h1>Event Management</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Price</th>
        <th>Participants</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let e of events">
        <td>{{e.title}}</td>
        <td>{{e.scheduledAt}}</td>
        <td>{{e.price || 'Free'}}</td>
        <td>{{e.currentParticipants}}</td>
        <td>
          <button type="button" (click)="delete(e.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>